<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      <!--
      span.cls_002{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      div.cls_002{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      span.cls_003{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      div.cls_003{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      span.cls_005{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      div.cls_005{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      -->
    </style>
    <script
      type="text/javascript"
      src="82266352-a2de-11ec-a980-0cc47a792c0a_id_82266352-a2de-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js"
    ></script>
  </head>
  <body>
    <div
      style="
        position: absolute;
        left: 50%;
        margin-left: -297px;
        top: 0px;
        width: 594px;
        height: 840px;
        border-style: outset;
        overflow: hidden;
      "
    >
      <div style="position: absolute; left: 0px; top: 0px">
        <img
          src="82266352-a2de-11ec-a980-0cc47a792c0a_id_82266352-a2de-11ec-a980-0cc47a792c0a_files/background1.jpg"
          width="594"
          height="840"
        />
      </div>
      <div
        style="position: absolute; left: 265.63px; top: 11.55px"
        class="cls_002"
      >
        <span class="cls_002">EIR Inquiry</span>
      </div>
      <div
        style="position: absolute; left: 50.29px; top: 55.09px"
        class="cls_002"
      >
        <span class="cls_002">{{terminalLongName}}</span>
      </div>
      <div
        style="position: absolute; left: 400.59px; top: 53.09px"
        class="cls_002"
      >
        <span class="cls_002">TICKET :</span>
      </div>
      <div
        style="position: absolute; left: 472.33px; top: 53.09px"
        class="cls_002"
      >
        <span class="cls_002">{{NBR}}</span>
      </div>
      <div
        style="position: absolute; left: 230.44px; top: 63.09px"
        class="cls_003"
      >
        <span class="cls_003">{{TRKC_ID}} {{TRKC_NAME}}</span>
      </div>
      <div
        style="position: absolute; left: 400.59px; top: 74.6px"
        class="cls_005"
      >
        <span class="cls_005">Arrive : {{EIR_DATE}}</span>
      </div>
      <div
        style="position: absolute; left: 50.29px; top: 75.1px"
        class="cls_002"
      >
        <span class="cls_002">{{line_id}}: {{name}}</span>
      </div>

      <div
        style="position: absolute; left: 50.29px; top: 94.12px"
        class="cls_003"
      >
        <span class="cls_003">{{MISSION_TYPE}}</span>
      </div>
      <div
        style="position: absolute; left: 230.44px; top: 94.12px"
        class="cls_003"
      >
        <span class="cls_003">Driver:</span>
      </div>
      <div
        style="position: absolute; left: 276.87px; top: 94.12px"
        class="cls_003"
      >
        <span class="cls_003">{{driver_name}}</span>
      </div>
      <div
        style="position: absolute; left: 50.3px; top: 117.64px"
        class="cls_003"
      >
        <span class="cls_003">Container :</span>
      </div>
      <div
        style="position: absolute; left: 112.56px; top: 117.64px"
        class="cls_005"
      >
        <span class="cls_005">{{ctr_nbr}}</span>
      </div>
      <div
        style="position: absolute; left: 375.57px; top: 117.64px"
        class="cls_003"
      >
        <span class="cls_003">Container Size/Type :</span>
      </div>
      <div
        style="position: absolute; left: 480.22px; top: 117.64px"
        class="cls_005"
      >
        <span class="cls_005"
          >{{ctr_eqsz_id}} {{ctr_eqtp_id}} {{ctr_eqht_id}}</span
        >
      </div>
      <div
        style="position: absolute; left: 50.3px; top: 136.66px"
        class="cls_003"
      >
        <span class="cls_003">Chassis :</span>
      </div>
      <div
        style="position: absolute; left: 103.68px; top: 136.66px"
        class="cls_005"
      >
        <span class="cls_005">{{chs_nbr}}</span>
      </div>
      <div
        style="position: absolute; left: 375.57px; top: 136.66px"
        class="cls_003"
      >
        <span class="cls_003"
          >Chassis Size/Type :{{ chs_eqsz_id}} {{ chs_eqtp_id}}</span
        >
      </div>

      <div
        style="position: absolute; left: 50.3px; top: 156.17px"
        class="cls_003"
      >
        <span class="cls_003">Vessel :</span>
      </div>
      <div
        style="position: absolute; left: 98.67px; top: 156.17px"
        class="cls_005"
      >
        <span class="cls_005">{{ship_id }} {{voy_nbr}} {{call_nbr}}</span>
      </div>
      <div
        style="position: absolute; left: 222.95px; top: 156.17px"
        class="cls_003"
      >
        <span class="cls_003">Port : {{discharge_point_id1}}</span>
      </div>
      <div
        style="position: absolute; left: 375.57px; top: 156.17px"
        class="cls_003"
      >
        <span class="cls_003">Release : {{eqo_nbr}}</span>
      </div>
      <div
        style="position: absolute; left: 375.57px; top: 179.19px"
        class="cls_003"
      >
        <span class="cls_003">Scale Wt :</span>
      </div>
      <div
        style="position: absolute; left: 434.77px; top: 179.19px"
        class="cls_005"
      >
        <span class="cls_005">{{scaleWtLbs}}LB</span>
      </div>
      <div
        style="position: absolute; left: 50.3px; top: 193.7px"
        class="cls_003"
      >
        <span class="cls_003">Gen Set :{{GENSET}}</span>
      </div>
      <div
        style="position: absolute; left: 375.57px; top: 198.71px"
        class="cls_003"
      >
        <span class="cls_003">Total Shipping Wt :{{ctrGrossWtLbs}}LB</span>
      </div>
      <div
        style="position: absolute; left: 50.3px; top: 212.72px"
        class="cls_003"
      >
        <span class="cls_003">Driver ID :</span>
      </div>
      <div
        style="position: absolute; left: 112.27px; top: 212.72px"
        class="cls_005"
      >
        <span class="cls_005">{{truck_license_nbr}}</span>
      </div>
      <div
        <div
        style="position: absolute; left: 50.3px; top: 232.24px"
        class="cls_003"
      >
        <span class="cls_003">Temp :{{TEMP_UNITS}}</span>
      </div>
      <div
        style="position: absolute; left: 50.3px; top: 251.25px"
        class="cls_003"
      >
        <span class="cls_003">Seals :</span>
      </div>
      <div
        style="position: absolute; left: 94.22px; top: 251.25px"
        class="cls_005"
      >
        <span class="cls_005">{{seal_nbr1}}</span>
      </div>
    </div>
  </body>
</html>
