<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>EVERPORT GATE DETAILS</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        text-indent: 0;
      }
      p {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 16pt;
        margin: 0pt;
      }
      .s1 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
      }
      .s2 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10pt;
      }
      .s3 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
      }
      table,
      tbody {
        vertical-align: top;
        overflow: visible;
      }
    </style>
  </head>
  <body>
    <p
      style="
        padding-top: 3pt;
        padding-left: 22pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
      EVERPORT EQUIPMENT INTERCHANGE AND INSPECTION REPORT
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 36pt; text-indent: 0pt; text-align: left">
      ETS LA <span class="s1">{{PO_OPT_DATE}}</span>G. PASS {{PO_GPASS_NO}}
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <table
      style="border-collapse: collapse; margin-left: 5.85pt"
      cellspacing="0"
    >
      <tr style="height: 42pt">
        <td style="width: 130pt">
          <p
            class="s2"
            style="
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            "
          >
            STEAMSHIP COMPANY
          </p>
          <p
            class="s3"
            style="
              padding-top: 3pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{PO_CARRIER_SCAC_CODE}}
          </p>
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            DEL/REC CARRIER
          </p>
          <p
          class="s3"
          style="
            padding-top: 3pt;
            padding-left: 2pt;
            text-indent: 0pt;
            text-align: left;
          "
        >
          {{PO_SHIPPER}}
        </p>
        </td>
        <td style="width: 123pt" colspan="2">
          <p
            class="s2"
            style="
              padding-left: 42pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            "
          >
            VESSEL
          </p>
          <p
            class="s3"
            style="
              padding-top: 3pt;
              padding-left: 42pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{PO_VSL}}
          </p>
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 42pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            BOOKING/BOL
          </p>
        </td>
        <td style="width: 90pt">
          <p
            class="s2"
            style="
              padding-left: 4pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            "
          >
            VOYAGE
          </p>
          <p
            class="s3"
            style="
              padding-top: 3pt;
              padding-left: 4pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{PO_VOY}}
          </p>
        </td>
        <td style="width: 158pt" colspan="3">
          <p
            class="s2"
            style="text-indent: 0pt; line-height: 11pt; text-align: left"
          >
            YARD LOCATION
          </p>
          <p
          class="s3"
          style="
            padding-top: 3pt;
            padding-left: 4pt;
            text-indent: 0pt;
            text-align: left;
          "
        >
          {{PO_YARD_LOC}}
        </p>
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p class="s2" style="text-indent: 0pt; text-align: left">
            CARGO DESCRIPTION
          </p>
          <p
          class="s3"
          style="
            padding-top: 3pt;
            padding-left: 4pt;
            text-indent: 0pt;
            text-align: left;
          "
        >
          {{PO_CARGO_DESC}}
        </p>
        </td>
      </tr>
      <tr style="height: 12pt">
        <td style="width: 130pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 123pt" colspan="2">
          <p
            class="s3"
            style="
              padding-top: 1pt;
              padding-left: 42pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            {{PO_BK_BL_NO}}
          </p>
        </td>
        <td style="width: 90pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 158pt" colspan="3">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
      </tr>
      <tr style="height: 17pt">
        <td style="width: 130pt">
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            PORT OF DISCHARGE
          </p>
        </td>
        <td style="width: 41pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 172pt" colspan="2">
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 1pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            FOR TRANSHIPMENT TO
          </p>
        </td>
        <td style="width: 158pt" colspan="3">
          <p
            class="s2"
            style="padding-top: 2pt; text-indent: 0pt; text-align: left"
          >
            MOVEMENT HAZARDLABELS
          </p>
        </td>
      </tr>
      <tr style="height: 27pt">
        <td style="width: 130pt">
          <p
            class="s3"
            style="
              padding-top: 1pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{PO_POD}}
          </p>
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            "
          >
            CONTAINER NUMBER
          </p>
        </td>
        <td style="width: 41pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s2"
            style="
              padding-left: 14pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            "
          >
            DMG
          </p>
        </td>
        <td style="width: 172pt" colspan="2">
          <p
            class="s3"
            style="
              padding-top: 1pt;
              padding-left: 1pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{PO_TRANSHIP_TO}}
          </p>
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 16pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            "
          >
            SEAL NUMBER STATUS
          </p>
        </td>
        <td style="width: 158pt" colspan="3">
          <p
            class="s3"
            style="padding-top: 1pt; text-indent: 0pt; text-align: left"
          >
            {{PO_MOVE}}
          </p>
          <p
            class="s2"
            style="
              padding-top: 2pt;
              text-indent: 0pt;
              line-height: 11pt;
              text-align: left;
            "
          >
            LENGTH HEIGHT TYPE
          </p>
        </td>
      </tr>
      <tr style="height: 31pt">
        <td style="width: 130pt">
          <p
            class="s3"
            style="
              padding-top: 3pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{PO_CNTR_NO}}
          </p>
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            CHASSIS NUMBER
          </p>
        </td>
        <td style="width: 52pt">
          <p
            class="s3"
            style="
              padding-top: 3pt;
              padding-left: 14pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            NO
          </p>
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 14pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            BKD T.
          </p>
        </td>
        <td style="width: 71pt">
          <p
            class="s3"
            style="
              padding-top: 3pt;
              padding-left: 4pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            EMCJLQ5501
          </p>
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 18pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            BKD V
          </p>
        </td>
        <td style="width: 90pt">
          <p
            class="s3"
            style="
              padding-top: 3pt;
              padding-left: 32pt;
              padding-right: 41pt;
              text-indent: 0pt;
              text-align: center;
            "
          >
            Full
          </p>
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 4pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            AIR QTY
          </p>
        </td>
        <td style="width: 54pt">
          <p
            class="s3"
            style="padding-top: 3pt; text-indent: 0pt; text-align: left"
          >
            {{PO_LENGTH}}
          </p>
          <p
            class="s2"
            style="padding-top: 2pt; text-indent: 0pt; text-align: left"
          >
            OVERSIZE
          </p>
        </td>
        <td style="width: 40pt">
          <p
            class="s3"
            style="
              padding-top: 3pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{PO_HEIGHT}}
          </p>
        </td>
        <td style="width: 64pt">
          <p
            class="s3"
            style="
              padding-top: 3pt;
              padding-left: 18pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            {{PO_TYPE}}
          </p>
        </td>
      </tr>
      <tr style="height: 12pt">
        <td style="width: 130pt">
          <p
            class="s3"
            style="
              padding-top: 1pt;
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            {{PO_CHASSIS_NO}}
          </p>
        </td>
        <td style="width: 52pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 71pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 90pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 54pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 40pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 64pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
      </tr>
      <tr style="height: 17pt">
        <td style="width: 85pt">
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            TOTAL RD WT
          </p>
        </td>
        <td style="width: 86pt">
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            TRACTOR WT
          </p>
        </td>
        <td style="width: 82pt">
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 16pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            CHASSIS WT
          </p>
        </td>
        <td style="width: 90pt">
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 32pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            CNTR GRSS
          </p>
        </td>
        <td style="width: 94pt" colspan="2">
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 14pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            CNTR TARE
          </p>
        </td>
        <td style="width: 64pt">
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 4pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            CARGO WT
          </p>
        </td>
      </tr>
      <tr style="height: 12pt">
        <td style="width: 85pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 86pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 82pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td style="width: 90pt">
          <p
            class="s3"
            style="
              padding-top: 1pt;
              padding-left: 32pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            {{PO_GROSS_WT}}
          </p>
        </td>
        <td style="width: 94pt" colspan="2">
          <p
            class="s3"
            style="
              padding-top: 1pt;
              padding-left: 14pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            {{PO_TARE_WT}}
          </p>
        </td>
        <td style="width: 64pt">
          <p
            class="s3"
            style="
              padding-top: 1pt;
              padding-left: 4pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            {{PO_CARGO_WT}}
          </p>
        </td>
      </tr>
      <tr style="height: 17pt">
        <td style="width: 85pt">
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 2pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Driver License No.
          </p>
        </td>
        <td style="width: 258pt" colspan="3">
          <p
            class="s2"
            style="
              padding-top: 2pt;
              padding-left: 101pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Transaction Number
          </p>
        </td>
        <td style="width: 158pt" colspan="3">
          <p
            class="s2"
            style="padding-top: 2pt; text-indent: 0pt; text-align: left"
          >
            Trucker SCAC Code
          </p>
        </td>
      </tr>
      <tr style="height: 12pt">
        <td style="width: 85pt">
          <p
            class="s3"
            style="
              padding-top: 1pt;
              padding-left: 2pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
          {{PO_DRIVER_ID}}
          </p>
        </td>
        <td style="width: 258pt" colspan="3">
          <p
            class="s3"
            style="
              padding-top: 1pt;
              padding-left: 101pt;
              padding-right: 97pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: center;
            "
          >
            {{PO_TRANSACTION_NO}}
          </p>
        </td>
        <td style="width: 158pt" colspan="3">
          <p
            class="s3"
            style="
              padding-top: 1pt;
              text-indent: 0pt;
              line-height: 9pt;
              text-align: left;
            "
          >
            {{PO_TRUCK_SCAC_CODE}}
          </p>
        </td>
      </tr>
    </table>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 8pt; text-indent: 0pt; text-align: left">
      <span
        ><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <img
                width="2"
                height="20"
                src="data:image/jpg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCAAUAAIDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9Uv8APSijPvRQAYooooA//9kA"
              />
            </td>
          </tr></table
      ></span>
    </p>
  </body>
</html>