<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      <!--
      span.cls_002{font-family:"Consolas Bold",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      div.cls_002{font-family:"Consolas Bold",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      span.cls_003{font-family:"Consolas",serif;font-size:10.0px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      div.cls_003{font-family:"Consolas",serif;font-size:10.0px;color:rgb(255,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      span.cls_004{font-family:"Consolas",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      div.cls_004{font-family:"Consolas",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      span.cls_005{font-family:"Consolas Bold",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      div.cls_005{font-family:"Consolas Bold",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      span.cls_006{font-family:"Consolas",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      div.cls_006{font-family:"Consolas",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      -->
    </style>
    <script
      type="text/javascript"
      src="441a35e6-a416-11ec-a980-0cc47a792c0a_id_441a35e6-a416-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js"
    ></script>
  </head>
  <body>
    <div
      style="
        position: absolute;
        left: 50%;
        margin-left: -306px;
        top: 0px;
        width: 612px;
        height: 792px;
        border-style: outset;
        overflow: hidden;
      "
    >
      <div style="position: absolute; left: 0px; top: 0px">
        <img
          src="441a35e6-a416-11ec-a980-0cc47a792c0a_id_441a35e6-a416-11ec-a980-0cc47a792c0a_files/background1.jpg"
          width="612"
          height="792"
        />
      </div>
      <div style="position: absolute; left: 173.42px; top: 7.08px" class="cls_002">
        <span class="cls_002">Trailer Interchange Receipt Reprint</span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 40.32px" class="cls_003">
        <span class="cls_003">Visit:</span>
      </div>
      <div style="position: absolute; left: 63.62px; top: 40.32px" class="cls_004">
        <span class="cls_004"> {{visit}} </span>
      </div>
      <div style="position: absolute; left: 131.3px; top: 40.32px" class="cls_003">
        <span class="cls_003">Ref:</span><span class="cls_004"> {{transaction_number}} </span>
      </div>
      <div style="position: absolute; left: 233.33px; top: 40.32px" class="cls_005">
        <span class="cls_005">Trailer Interchange Receipt</span>
      </div>
      <div style="position: absolute; left: 430.03px; top: 40.32px" class="cls_003">
        <span class="cls_003">Date:</span><span class="cls_004">{{entered_yard_fmt}}</span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 58.2px" class="cls_004">
        <span class="cls_004">Maher Terminals {{gate_description}} Gate</span>
      </div>
      <div style="position: absolute; left: 271.97px; top: 58.2px" class="cls_005">
        <span class="cls_005"> {{transaction_type_description}} </span>
      </div>
      <div style="position: absolute; left: 430.03px; top: 58.2px" class="cls_003">
        <span class="cls_003">Line:</span>
      </div>
      <div style="position: absolute; left: 461.5px; top: 59.16px" class="cls_004">
        <span class="cls_004"> {{ssl_operator_description}} </span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 86.66px" class="cls_003">
        <span class="cls_003">Container Number</span>
      </div>
      <div style="position: absolute; left: 133.82px; top: 86.66px" class="cls_003">
        <span class="cls_003">Chassis Number</span>
      </div>
      <div style="position: absolute; left: 250.85px; top: 86.66px" class="cls_003">
        <span class="cls_003">ISO</span>
      </div>
      <div style="position: absolute; left: 461.5px; top: 86.66px" class="cls_003">
        <span class="cls_003">Location</span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 98.9px" class="cls_004">
        <span class="cls_004">{{container}}</span>
      </div>
      <div style="position: absolute; left: 133.82px; top: 98.9px" class="cls_004">
        <span class="cls_004"> {{chassis}} </span>
      </div>
      <div style="position: absolute; left: 250.85px; top: 100.7px" class="cls_004">
        <span class="cls_004">{{container_iso_code}}</span>
      </div>
      <div style="position: absolute; left: 461.5px; top: 98.9px" class="cls_004">
        <span class="cls_004"> </span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 115.94px" class="cls_003">
        <span class="cls_003">Trucking Company</span>
      </div>
      <div style="position: absolute; left: 227.45px; top: 115.94px" class="cls_003">
        <span class="cls_003">Driver ID</span>
      </div>
      <div style="position: absolute; left: 344.47px; top: 115.94px" class="cls_003">
        <span class="cls_003">Vessel/Voyage</span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 129.98px" class="cls_004">
        <span class="cls_004"> {{trucking_company_description}} </span>
      </div>
      <div style="position: absolute; left: 227.45px; top: 129.02px" class="cls_004">
        <span class="cls_004">{{driver_card_id}}</span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 157.46px" class="cls_003">
        <span class="cls_003">Booking Number</span>
      </div>
      <div style="position: absolute; left: 157.22px; top: 157.46px" class="cls_003">
        <span class="cls_003">Hazards Port</span>
      </div>
      <div style="position: absolute; left: 373.27px; top: 157.46px" class="cls_003">
        <span class="cls_003">Weight</span>
      </div>
      <div style="position: absolute; left: 438.07px; top: 157.46px" class="cls_003">
        <span class="cls_003">Seal Numbers</span>
      </div>
      <div style="position: absolute; left: 173.66px; top: 169.7px" class="cls_004">
        <span class="cls_004">{{hazardous}}</span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 187.58px" class="cls_003">
        <span class="cls_003">Inspection:</span>
      </div>
      <div style="position: absolute; left: 86.78px; top: 188.78px" class="cls_006">
        <span class="cls_006">
          {{gateDmg.gate0.damage_component}} {{gateDmg.gate0.damage_type}}
          {{gateDmg.gate0.damage_severity_calc}}, {{gateDmg.gate1.damage_component}}
          {{gateDmg.gate1.damage_type}} {{gateDmg.gate1.damage_severity_calc}}
        </span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 229.1px" class="cls_003">
        <span class="cls_003">Remarks:</span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 257.57px" class="cls_003">
        <span class="cls_003">TIR</span>
      </div>
      <div style="position: absolute; left: 110.42px; top: 257.57px" class="cls_003">
        <span class="cls_003">CHECKER</span>
      </div>
      <div style="position: absolute; left: 204.05px; top: 257.57px" class="cls_003">
        <span class="cls_003">DRIVER</span>
      </div>
      <div style="position: absolute; left: 391.27px; top: 257.57px" class="cls_003">
        <span class="cls_003">OUT</span>
      </div>
      <div style="position: absolute; left: 484.9px; top: 257.57px" class="cls_003">
        <span class="cls_003">SECURITY</span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 269.81px" class="cls_004">
        <span class="cls_004">{{damage_inspection_by}}</span>
      </div>
      <div style="position: absolute; left: 110.42px; top: 269.81px" class="cls_004">
        <span class="cls_004">{{lane_in_by}}</span>
      </div>
      <div style="position: absolute; left: 204.05px; top: 269.81px" class="cls_004">
        <span class="cls_004">{{driver_name}}</span>
      </div>
      <div style="position: absolute; left: 484.9px; top: 269.81px" class="cls_004">
        <span class="cls_004">{{guard_out_by}}</span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 286.85px" class="cls_003">
        <span class="cls_003">In Time</span>
      </div>
      <div style="position: absolute; left: 110.42px; top: 286.85px" class="cls_003">
        <span class="cls_003">Out Time</span>
      </div>
      <div style="position: absolute; left: 204.05px; top: 286.85px" class="cls_003">
        <span class="cls_003">Clerical Services Time</span>
      </div>
      <div style="position: absolute; left: 367.87px; top: 286.85px" class="cls_003">
        <span class="cls_003">RPM Time</span>
      </div>
      <div style="position: absolute; left: 484.9px; top: 286.85px" class="cls_003">
        <span class="cls_003">Net Elapsed Time</span>
      </div>
      <div style="position: absolute; left: 16.8px; top: 299.09px" class="cls_004">
        <span class="cls_004">{{entered_yard}}</span>
      </div>
      <div style="position: absolute; left: 110.42px; top: 299.09px" class="cls_004">
        <span class="cls_004">{{exited_yard}}</span>
      </div>
      <div style="position: absolute; left: 204.05px; top: 299.09px" class="cls_004">
        <span class="cls_004"></span>
      </div>
      <div style="position: absolute; left: 367.87px; top: 299.09px" class="cls_004">
        <span class="cls_004"></span>
      </div>
      <div style="position: absolute; left: 484.9px; top: 299.09px" class="cls_004">
        <span class="cls_004">{{total_elapsed_time}}</span>
      </div>
      <div style="position: absolute; left: 128.06px; top: 317.93px" class="cls_005">
        <span class="cls_005"
          >ANY TIR INSPECTION DISCREPANCIES MUST BE REPORTED PRIOR TO EXIT.</span
        >
      </div>
      <div style="position: absolute; left: 97.7px; top: 330.53px" class="cls_005">
        <span class="cls_005"
          >PROCEED TO "RED ZONE" AREA AND CALL (908) 527-8400 EXT. 4114 FOR ASSISTANCE</span
        >
      </div>
    </div>
  </body>
</html>
