<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table to pdf</title>
    <style>
      .styleone-wrapper {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
      }
      .hr-line {
        height: 2px;
        background-color: green;
        width: 100%;
      }
      .text-center {
        text-align: center;
      }
      
    </style>
  </head>
  <body class="text-center">
    <div class="styleone-wrapper">
      <div>{{result.name}}</div>
      <div class="hr-line"></div>
      <div>01/24/2022 10:35 AM</div>
    </div>
  </body>
</html>

<!-- <p>hello</p> -->